.slider{
    padding-bottom: 16.4%;
    margin-bottom:1em;
    text-transform: uppercase;

    &__body {
        position:relative;
    }

    &__title {
        font-size: 3.5em;
        padding: 0.25em;
        background: $bg-white;
        position: relative;
        opacity: 0;
    }

    &__content{
        position: absolute;
        top: 0;
        width: 117em;
        padding-top: 3em;
        left:50%;
        margin-left: -58.5em;
    }
    
    &__text {
        font-size: 1.75em;
        padding: 0.5em;
        background: $bg-red;
        color: $color-font-second;
        opacity: 0;
    }

    &__progress-bar {
        width: 0;
        height: 1em;
        background-color: rgba(255,255,255,0.5);
        position: absolute;
        z-index: 1;
        @include animation(progress-bar $time-per-slide ease-out infinite);
    }

    &__text--spacer{
        height: 1.82vw;
        margin-bottom: 0.5em; 
        margin-top: 0.5em;
    }
}

%abs{
    position: absolute;
    width: 100%;
}

//Slider images configuration
@for $i from 1 through $slides{
    //Slide fade-in and fade-out
    .slider__slide-#{$i}  {
        @extend %abs;
        //When to start the slide animation
        $delay: $time-per-slide * ($i - 1);
        @include animation(slider $slideshow-duration $delay infinite);
    }    

    //Manage text inside slide, animation
    $end: $words-per-slide*$i;
    $start: $end - ($words-per-slide - 1);
    $counter: 1;
    @for $x from $start through $end{
        .slider__text-#{$x} {
            $text-delay: $delay + ($secs-per-block * $counter);
            @include animation(slider-text $slideshow-duration $text-delay infinite);
            $counter: $counter + 1;
        }
    }
}

@include breakpoint("(max-width: 1200px)") {
    .slider__content{
            width: 95%;
            font-size: 0.75vw;
            padding-top: 1vw;
    }
}

@include breakpoint("(min-width: 2200px)") {
    .slider{
        padding-bottom:35.4rem;

        &__text--spacer{
            height: 6rem;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}