//Compatibility
	$use-vendor-prefixes: false;
//COLOR PALETTE
//Font main color / light black
	$color-font: #444;
//Secondary font color / white
	$color-font-second: #fff;
//Third font color / dark blue
	$color-font-third: #04649d;
//Menu and li-bg
	$color-menu: #296098;
//Main Titles
	$color-title: #00add2;
//Subtitles
	$color-subtitle: #1e73be;
//Module Title
	$color-module-title: #4c4c4c;
//Links
	$color-link:#0165bd;
//Background colors
	$bg-white:#fff;
	$bg-black:#000;
	$bg-red: #DB4360;
	$bg-aqua:#6fa6c6;
	$bg-light-blue:#36b6fa;
	$bg-dark-blue:#04649d;
	$bg-darker-blue:#296098;
//Misc colors
	$cadet-blue: #b9e9f7;
	$lighter-gray:#f5f5f5;
	$light-gray:#dedede;
	$dark-gray:#777;
	$gray:#ccc;

//SLIDER
	$slides: 3;
	$words-per-slide:7;
	$visibility-time: 8s;
	$end-of-visibility:round(100/$slides);
	$slideshow-duration: $slides*$visibility-time;

//GRID SYSTEM
//Max columns
	$grid-columns: 12;
//Headings default font-size:margin
	$use-header-margins: false;
	$headings: (
				3.2rem  :0.67em 0, //2em 	- H1
                2.4rem  :0.83em 0, //1.5em	- H2
                1.8rem  :1em 0,    //1.17em	- H3
                1.6rem  :1.33em 0, //1em	- H4
                1.3rem  :1.67em 0, //0.83em	- H5
                1.2rem  :2.33em 0  //0.75em	- H6
                );